---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ToolGrid from '../components/ToolGrid.astro';
import { tools } from '../data/tools';
---

<Layout>
	<main>
		<Hero 
			title="Welcome to Toolbox"
			subtitle="Your collection of handy developer tools, all in one place."
		/>
		<ToolGrid tools={tools} />
	</main>
</Layout>
