---
import Navbar from '../components/Navbar';
import '../styles/global.css';
import '../styles/animations.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Toolbox - Your Developer Tools</title>
	</head>
	<body class="bg-gray-50 min-h-screen m-0 w-full h-full">
		<Navbar client:load />
		<slot />
	</body>
</html>
